table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  td {
    background-color: #fff;
    color: #555;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para la primera columna */
  td:first-child {
    background-color: #eaf2ff;
    font-weight: bold;
  }